<!-- app.component.html -->

<div class="Header">
  <!-- <h1 style="font-size: 4rem;"> -->
    Welcome to {{title}}!
  <!-- </h1> -->
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4"> -->
<div class="Carddiv">
  <div class="CardDetails">
    <igx-card type="outlined" class="weather-card">
      <igx-card-header class="lightblue">
        <h3 style="color:darkblue;" igxCardHeaderSubtitle>Total Confirmed Cases</h3>
        <h5 igxCardHeaderTitle>{{ WorldConfirmed | number: '1.0-0' }}</h5>
      </igx-card-header>
      <igx-divider></igx-divider>
      <igx-card-content class="lightblue">
        <igx-list>
          <igx-list-item *ngFor="let Confirm of Confirmed" class="lightblue">
            <span class="left">{{ Confirm.country }}</span>
            <span class="right">{{ Confirm.Confirmed | number: '1.0-0' }}</span>
            <!-- <h4 igxListLineTitle>{{ Confirm.country }}</h4>
            <p igxListLineTitle>{{ Confirm.Confirmed | number: '1.0-0' }}</p> -->
          </igx-list-item>
        </igx-list>
      </igx-card-content>
    </igx-card>
  </div>
  <!-- </div> -->
  <!-- <igx-divider [vertical]="true"></igx-divider> -->
  <!-- <div class="col-sm-12 col-md-4 col-lg-4"> -->
  <div class="CardDetails">
    <igx-card type="outlined" class="weather-card">
      <igx-card-header class="pink">
        <h3 style="color:red;" igxCardHeaderSubtitle>Total Deaths</h3>
        <h5 igxCardHeaderTitle>{{ WorldDeaths | number: '1.0-0' }}</h5>
      </igx-card-header>
      <igx-divider></igx-divider>
      <igx-card-content class="pink">
        <igx-list>
          <igx-list-item *ngFor="let Death of Deaths" class="pink">
            <span class="left">{{ Death.country }}</span>
            <span class="right">{{ Death.Deaths | number: '1.0-0' }}</span>
            <!-- <h4 igxListLineTitle>{{ Death.country }}</h4>
            <p igxListLineTitle>{{ Death.Deaths | number: '1.0-0' }}</p> -->
          </igx-list-item>
        </igx-list>
      </igx-card-content>
    </igx-card>
  </div>
  <!-- </div> -->
  <!-- <igx-divider [vertical]="true"></igx-divider> -->
  <!-- <div class="col-sm-12 col-md-4 col-lg-4"> -->
  <div class="CardDetails">
    <igx-card type="outlined" class="weather-card">
      <igx-card-header class="lightgreen">
        <h3 style="color:darkgreen;" igxCardHeaderSubtitle>Total Recovered</h3>
        <h5 igxCardHeaderTitle>{{ WorldRecovered | number: '1.0-0' }}</h5>
      </igx-card-header>
      <igx-divider></igx-divider>
      <igx-card-content class="lightgreen">
        <igx-list>
          <igx-list-item *ngFor="let Recover of Recovered" class="lightgreen">
            <span class="left">{{ Recover.country }}</span>
            <span class="right">{{ Recover.Recovered | number: '1.0-0' }}</span>
            <!-- <h4 igxListLineTitle>{{ Recover.country }}</h4>
            <p igxListLineTitle>{{ Recover.Recovered | number: '1.0-0' }}</p> -->
          </igx-list-item>
        </igx-list>
      </igx-card-content>
    </igx-card>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div>
</div> -->

<!-- </article>
</section> -->
<!-- <igx-divider></igx-divider> -->

<div class="Graphdiv">
  <igx-geographic-map #map width="100%" height="33rem" zoomable="true">
  </igx-geographic-map>
</div>

<ng-template let-series="series" let-item="item" #template>
  <div>
    <span>
      Country: {{item.country}}
    </span>
    <br />
    <span>
      state: {{item.state}}
    </span>
    <br />
    <span>
      Confirmed: {{item.Confirmed}}
    </span>
    <br />
    <span>
      Deaths: {{item.Deaths}}
    </span>
    <br />
    <span>
      Recovered: {{item.Recovered}}
    </span>
    <br />
    <span>
      Active: {{item.Active}}
    </span>
  </div>
</ng-template>